<!--
 * @Description: editor-panel 的测试页面
 * @Author: F-Stone
 * @LastEditTime: 2024-11-26 14:36:21
-->
<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEMO-EDITOR-ELEMENT</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
