/*
 * @Description: 滚动效果相关样式
 * @Author: F-Stone
 * @LastEditTime: 2025-07-06 16:12:20
 */
.js-disable-scroll-effect {
    --scroll-start: 0 !important;
    --scroll-end: 1 !important;
    --scroll-progress: 1 !important;
    --scroll-opacity-start: 1 !important;
    --scroll-opacity-end: 1 !important;
    --scroll-x-start: 0 !important;
    --scroll-x-end: 0 !important;
    --scroll-y-start: 0 !important;
    --scroll-y-end: 0 !important;
}
.js-scroll-effect {
    --scroll-start: 0;
    --scroll-end: 1;
    --scroll-progress: 1;
    --scroll-opacity-start: 1;
    --scroll-opacity-end: 1;
    --scroll-x-start: 0;
    --scroll-x-end: 0;
    --scroll-y-start: 0;
    --scroll-y-end: 0;
    --parallax-scale: 1;
    position: relative;
    &[data-scroll-effect*="opacity"] {
        .js-scroll-container {
            opacity: calc(var(--scroll-start) + var(--scroll-progress, 0) * (var(--scroll-end) - var(--scroll-start)));
        }
    }
    &[data-scroll-effect*="rotate"] {
        overflow: visible;

        perspective: 1200px;
        transform-style: preserve-3d;
        .js-scroll-container {
            --ue-scroll-effect-rotate: calc(
                var(--scroll-start) + var(--scroll-progress, 0) * (var(--scroll-end) - var(--scroll-start))
            );

            opacity: calc(
                var(--scroll-opacity-start) + var(--scroll-progress, 0) *
                    (var(--scroll-opacity-end) - var(--scroll-opacity-start))
            );

            backface-visibility: hidden;
            transform-style: preserve-3d;
            &[data-axis^="x-"] {
                transform: rotateX(var(--ue-scroll-effect-rotate));
            }
            &[data-axis^="y-"] {
                transform: rotateY(var(--ue-scroll-effect-rotate));
            }
            &[data-axis^="z-"] {
                transform: rotateZ(var(--ue-scroll-effect-rotate));
            }
            &[data-axis$="-t"] {
                transform-origin: top;
            }
            &[data-axis$="-b"] {
                transform-origin: bottom;
            }
            &[data-axis$="-l"] {
                transform-origin: left;
            }
            &[data-axis$="-r"] {
                transform-origin: right;
            }
            &[data-axis$="-tl"] {
                transform-origin: top left;
            }
            &[data-axis$="-tc"] {
                transform-origin: top center;
            }
            &[data-axis$="-tr"] {
                transform-origin: top right;
            }
            &[data-axis$="-cl"] {
                transform-origin: center left;
            }
            &[data-axis$="-cc"] {
                transform-origin: center center;
            }
            &[data-axis$="-cr"] {
                transform-origin: center right;
            }
            &[data-axis$="-bl"] {
                transform-origin: bottom left;
            }
            &[data-axis$="-bc"] {
                transform-origin: bottom center;
            }
            &[data-axis$="-br"] {
                transform-origin: bottom right;
            }
        }
    }
    &[data-scroll-effect*="scale"] {
        .js-scroll-container {
            transform: scale(
                calc(var(--scroll-start) + var(--scroll-progress, 0) * (var(--scroll-end) - var(--scroll-start)))
            );

            opacity: calc(
                var(--scroll-opacity-start) + var(--scroll-progress, 0) *
                    (var(--scroll-opacity-end) - var(--scroll-opacity-start))
            );
        }
    }
    &[data-scroll-effect*="translate"] {
        .js-scroll-container {
            transform: translate3d(
                calc(var(--scroll-x-start) + var(--scroll-progress, 0) * (var(--scroll-x-end) - var(--scroll-x-start))),
                calc(var(--scroll-y-start) + var(--scroll-progress, 0) * (var(--scroll-y-end) - var(--scroll-y-start))),
                0
            );

            opacity: calc(
                var(--scroll-opacity-start) + var(--scroll-progress, 0) *
                    (var(--scroll-opacity-end) - var(--scroll-opacity-start))
            );
        }
    }
    &[data-scroll-effect*="image-parallax"] {
        --parallax-scale: 1;
        &[data-image-parallax-mode="image"] {
            --parallax-scale: 1;
        }
        &[data-image-parallax-mode="container"] {
            --parallax-scale: 1.5;
        }
    }
}
.js-split-text {
    --shadow-text-color: rgb(0 0 0 / 0.2);
    &[data-is-lighter="true"] {
        --shadow-text-color: rgb(255 255 255 / 0.2);
    }
    .js-split-line-wrapper {
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    .js-split-line {
        --clip-path-progress: 100%;
        transform-origin: center center -2em !important;
        white-space: nowrap;

        clip-path: polygon(0% 0%, 100% 0%, 100% 110%, 0 110%);
    }
    .js-split-word {
        position: relative;
    }
    &[data-effect-type="effect-3"] {
        .js-split-line {
            transform: rotateX(-50deg) rotateY(13deg) rotateZ(13deg);

            opacity: 0;
        }
    }
    &[data-effect-type="effect-4"] {
        .js-split-word {
            position: relative;
            &::after {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;

                content: attr(data-text);

                color: var(--shadow-text-color);
            }
        }
    }
}
