$ue-share-behance: "\ecac";
$ue-share-bilibili: "\e608";
$ue-share-call: "\ea5e";
$ue-share-discord: "\ed2c";
$ue-share-download: "\e888";
$ue-share-dribbble: "\e3a0";
$ue-share-eewu: "\e37e";
$ue-share-facebook: "\eac6";
$ue-share-github: "\e41d";
$ue-share-google: "\e1c7";
$ue-share-instagram: "\e7b2";
$ue-share-instagram1: "\eebf";
$ue-share-linkedin: "\e0fe";
$ue-share-mini-app: "\e055";
$ue-share-pinterest-1: "\e142";
$ue-share-pinterest: "\e866";
$ue-share-qq: "\ee20";
$ue-share-qrcode: "\ec72";
$ue-share-tiktok: "\ef06";
$ue-share-twitter_icon: "\e53b";
$ue-share-twitter_icon2: "\e1f3";
$ue-share-weibo: "\ece8";
$ue-share-weixin: "\ed9e";
$ue-share-whatsapp: "\e992";
$ue-share-xiaohongshu: "\ec01";
$ue-share-youtube: "\e4dd";
$ue-share-zcool-fill: "\e64d";
$ue-share-zhihu: "\e148";

