$project-name: app-editor;
@if $project-name == app-editor {
    :root {
        --ue-tiptap-radius: 5px;
        --ue-tiptap-zindex--mini: 50;
        --ue-tiptap-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
        --ue-tiptap-background-color: #{var-color(#f2f2f2)};
    }
    .ue-richtext-editor {
        box-sizing: border-box;

        cursor: text;

        outline: none;
        &[hight-light-caret] {
            caret-color: #999 !important;
        }
        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        .drop-cursor {
            border-radius: 4px;
        }
        &.has-focus {
            opacity: 1;
        }
    }
    .ue-editing-mark {
        display: inline-block !important;

        border-radius: 1px !important;
        background: rgb(35 131 226 / 0.28) !important;
        box-shadow: 0 0 0 3px rgb(35 131 226 / 0.28) !important;
        &::selection {
            background-color: transparent;
        }
    }
}
